@{
}

<h1>Warehouses</h1>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row wh-table-container">
            <table class="wh-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Occupated</th>
                        <th>Weight Capacity</th>
                        <th>Manager</th>
                        <th>Parcel Count</th>
                        <th>Parcel Total Weight</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="clearfix"></div>
            <div class="overlay table-overlay" style="display: none"><i class="fa fa-refresh fa-spin"></i></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@{
    string modalClass = "test-modal-class";
    await Html.RenderPartialAsync("~/Views/Shared/_Modal.cshtml", new ModalViewModel()
    {
        Title = "Add Warehouse",
        UniqueClass = modalClass
    });
}

@section styles {
<style>
    .wh-table-container .overlay.table-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(244,244,244,0.7);
    }

    .wh-table-container {
        position: relative;
    }

    .wh-table-container .dataTables_processing {
        display: none !important;
    }

    .wh-table-container .overlay.table-overlay .fa-refresh {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 50px;
        z-index: 100;
        margin-left: -25px;
        margin-top: -25px;
    }
</style>
} 

@section scripts {
    <script>
    window.Warehouses = window.Warehouses || (function () {
        var _selectors = {
            Table: ".wh-table-container .wh-table",
            Overlay: ".wh-table-container .overlay.table-overlay",
            AddButton: ".wh-table-container .btn-add-warehouse",
            Modal: ".@(modalClass)",
            _EditButton: ".btn-edit-warehouse"
        }

        var _table = null;


        function init() {
            fillDataTable();
            initEvents();
        }

        function initEvents() {

            $(_selectors.AddButton).on('click', function () {
                $(_selectors.Modal).data("modaljsobj").show({
                    closeOnSave: true,
                    bodyUrl: "@Url.Action("_AddEditWarehouseModalBody", "Resources", new { })"
                });
            });

            $(_selectors.Table).on('click', _selectors._EditButton, function () {
                $(_selectors.Modal).data("modaljsobj").show({
                    closeOnSave: true,
                    bodyUrl: "@Url.Action("_AddEditWarehouseModalBody", "Resources", new { })/" + $(this).data("warehouse-id")
                });
            });
        }

        function fillDataTable() {

            if (_table == null) {
                _table = $(_selectors.Table).on('preXhr.dt', function (e, settings, data) {
                    // callback before ajax call
                    $(_selectors.AddButton).prop("disabled", true);
                    $(_selectors.Overlay).show();
                }).on('xhr.dt', function (e, settings, json, xhr) {
                    // callback after ajax call

                    if ($(_selectors.AddButton).text() == "") {
                        $(_selectors.AddButton).text("Add Warehouse");
                        $(_selectors.AddButton).addClass("btn");
                        $(_selectors.AddButton).addClass("btn-primary");
                    }

                    $(_selectors.AddButton).prop("disabled", false);
                    $(_selectors.Overlay).hide();

                    return xhr.responseJSON;
                }).DataTable({
                    lengthChange: true,
                    autoWidth: false,
                    processing: true,
                    serverSide: true,
                    searching: true,
                    ordering: true,
                    paging: true,
                    info: true,
                    order: [[0, "desc"]],
                    pageLength: 10,
                    searchDelay: 2000,
                    lengthMenu: [5, 10, 25, 50, 100, 250, 500],
                    dom: '<"row"<"col-sm-4"<"pull-left"<"btn-add-warehouse">>><"col-sm-4"><"col-sm-4"<"pull-right"f>>>rt<"row"<"col-sm-6"i><"col-sm-6"p>><"row"<"col-sm-12"l>>',
                    ajax: {
                        url: "@Url.Action("GetWarehouses", "Resources")",
                        data: function (d) {
                            //d.drillInfo = _drillInfo

                            return d;
                        },
                        type: "POST"
                    },
                    language: {
                        processing: ''
                    },
                    columns: [
                        {
                            data: "name",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return `<span class='datacell'>${full.name}</span>`;
                            }
                        },
                        {
                            data: "description",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {

                                var desc = full.description;

                                if (((full.description || "").length || 0) > 40) {
                                    desc = full.description.substring(0, 40);
                                }

                                return `<span class='datacell' title='${full.description}'>${desc}</span>`;
                            }
                        },
                        {
                            data: "type",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return `<span class='datacell'>${full.type}</span>`;
                            }
                        },
                        {
                            data: "occupated",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return `<span class='datacell'>${full.occupated}</span>`;
                            }
                        },
                        {
                            data: "weightCapacity",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return `<span class='datacell'>${full.weightCapacity}</span>`;
                            }
                        },
                        {
                            data: "manager_FirstName",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return `<span class='datacell'>${full.manager_FirstName} ${full.manager_LastName}</span>`;
                            }
                        },
                        {
                            data: "parcelCount",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return `<span class='datacell'>${full.parcelCount}</span>`;
                            }
                        },
                        {
                            data: "parcelWeight",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return `<span class='datacell'>${full.parcelWeight}</span>`;
                            }
                        },
                        {
                            data: "id",
                            orderable: false,
                            className: "text-left",
                            width: "120px",
                            render: function (data, type, full, meta) {
                                // action buttons
                                return `<button class="btn btn-primary btn-edit-warehouse" data-warehouse-id="${full.id}">Edit <span class="fa fa-edit"></span></button>`;
                            }
                        }
                    ]
                });
            }
            else {
                _table.draw();
            }
        }

        return {
            init: init,
            selectors: _selectors
        }
    })();

    $(document).ready(function () {
        Warehouses.init();
    });
    </script>
}