@{
}

<h1>Contracts</h1>

<div class="row">
    <div class="col-md-12">
        <div class="row contracts-table-container">
            <table class="contracts-table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>Payment Due Until</th>
                        <th>Is Payed</th>
                        <th>Supplier</th>
                        <th>Date Added</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="clearfix"></div>
            <div class="overlay table-overlay" style="display: none"><i class="fa fa-refresh fa-spin"></i></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@{
    string modalClass = "contracts-modal";
    await Html.RenderPartialAsync("~/Views/Shared/_Modal.cshtml", new ModalViewModel()
    {
        UniqueClass = modalClass
    });
}

@section styles {
<style>
    .contracts-table-container .overlay.table-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(244,244,244,0.7);
    }

    .contracts-table-container {
        position: relative;
    }

    .contracts-table-container .dataTables_processing {
        display: none !important;
    }

    .contracts-table-container .overlay.table-overlay .fa-refresh {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 50px;
        z-index: 100;
        margin-left: -25px;
        margin-top: -25px;
    }
</style>
}

@section scripts {
<script>
    window.Contracts = window.Contracts || (function () {
        var _selectors = {
            Table: ".contracts-table-container .contracts-table",
            Overlay: ".contracts-table-container .overlay.table-overlay",
            AddButton: ".contracts-table-container .btn-add-contracts",
            Modal: ".@(modalClass)",
            _EditButton: ".btn-edit-contracts"
        }

        var _table = null;


        function init() {
            fillDataTable();
            initEvents();
        }

        function initEvents() {

            $(_selectors.AddButton).on('click', function () {
                $(_selectors.Modal).data("modaljsobj").show({
                    title: "Add a Contract",
                    closeOnSave: true,
                    bodyUrl: "@Url.Action("_AddEditContractModalBody", "Playbook", new { })"
                });
            });

            $(_selectors.Table).on('click', _selectors._EditButton, function () {
                $(_selectors.Modal).data("modaljsobj").show({
                    title: "Edit Contract",
                    closeOnSave: true,
                    bodyUrl: "@Url.Action("_AddEditContractModalBody", "Playbook", new { })/" + $(this).data("contracts-id")
                });
            });
        }

        function fillDataTable() {

            if (_table == null) {
                _table = $(_selectors.Table).on('preXhr.dt', function (e, settings, data) {
                    // callback before ajax call
                    $(_selectors.AddButton).prop("disabled", true);
                    $(_selectors.Overlay).show();
                }).on('xhr.dt', function (e, settings, json, xhr) {
                    // callback after ajax call

                    if ($(_selectors.AddButton).text() == "") {
                        $(_selectors.AddButton).text("Add a Contract");
                        $(_selectors.AddButton).addClass("btn");
                        $(_selectors.AddButton).addClass("btn-primary");
                    }

                    $(_selectors.AddButton).prop("disabled", false);
                    $(_selectors.Overlay).hide();

                    return xhr.responseJSON;
                }).DataTable({
                    lengthChange: true,
                    autoWidth: false,
                    processing: true,
                    serverSide: true,
                    searching: true,
                    ordering: true,
                    paging: true,
                    info: true,
                    order: [[0, "desc"]],
                    pageLength: 10,
                    searchDelay: 2000,
                    lengthMenu: [5, 10, 25, 50, 100, 250, 500],
                    dom: '<"row"<"col-sm-4"<"pull-left"<"btn-add-contracts">>><"col-sm-4"><"col-sm-4"<"pull-right"f>>>rt<"row"<"col-sm-6"i><"col-sm-6"p>><"row"<"col-sm-12"l>>',
                    ajax: {
                        url: "@Url.Action("GetContracts", "Playbook")",
                        data: function (d) {
                            //d.drillInfo = _drillInfo

                            return d;
                        },
                        type: "POST"
                    },
                    language: {
                        processing: ''
                    },
                    columns: [
                        {
                            data: "description",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {

                                var desc = full.description || "";

                                if (((full.description || "").length || 0) > 40) {
                                    desc = full.description.substring(0, 40);
                                }

                                return `<span class='datacell' title='${(full.description || "/")}'>${desc}</span>`;
                            }
                        },
                        {
                            data: "startDate",
                            orderable: false,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                var dString = full.startDate != null ? App.formatDateTime(full.startDate) : "/";

                                return `<span class='datacell'>${dString}</span>`;
                            }
                        },
                        {
                            data: "paymentDueUntil",
                            orderable: false,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                var dString = full.paymentDueUntil != null ? App.formatDateTime(full.paymentDueUntil) : "/";

                                return `<span class='datacell'>${dString}</span>`;
                            }
                        },
                        {
                            data: "isPayed",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return `<span class='datacell'>${(full.isPayed ? "Yes" : "No")}</span>`;
                            }
                        },
                        {
                            data: "supplierName",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return `<span class='datacell'>${full.supplierName}</span>`;
                            }
                        },
                        {
                            data: "addDate",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                var dString = full.addDate != null ? App.formatDateTime(full.addDate) : "/";

                                return `<span class='datacell'>${dString}</span>`;
                            }
                        },
                        {
                            data: "id",
                            orderable: false,
                            className: "text-left",
                            width: "100px",
                            render: function (data, type, full, meta) {
                                // action buttons
                                return `
<button class="btn btn-primary pull-left btn-edit-contracts" data-contracts-id="${full.id}">Edit <span class="fa fa-edit"></span></button>
`;
                            }
                        }
                    ]
                });
            }
            else {
                _table.draw();
            }
        }

        return {
            init: init,
            selectors: _selectors,
            refreshTable: fillDataTable
        }
    })();

    $(document).ready(function () {
        Contracts.init();
    });
    </script>
}